/*! /src/style.css */
/* Fonts import
 * https://google-webfonts-helper.herokuapp.com/fonts/roboto-condensed
 * https://github.com/bramstein/fontfaceobserver
*/
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
      url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
      url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* Basic css */
* {
  box-sizing: border-box;
  transition: all .5s;
}

body {
  /* https://www.transparenttextures.com/ */
  /* background: url('assets/images/bg.png') repeat; */
  background-color: #fbfbfb;
  color: #303030;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  font-size: 1em;
  justify-content: center;
  line-height: 1.4em;
  min-height: 100vh;
  padding: 0.5em;
  text-align: center;
}

body.fonts-loaded {
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

h1, h2, h3 {
  letter-spacing: 0.1em;
  line-height: 1.2em;
  text-transform: uppercase;
}

a,
a:active,
a:visited {
  color: #ff833b;
  cursor: pointer;
}

a:hover {
  color: #ff9659;
}

section {
  align-items: center;
  border-bottom: 1px solid #303030;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 70px;
  position: relative;
}

footer {
  padding-top: 0.5em;
}

ul {
  text-align: left;
}

.button-down {
  background: #DCDCDC;
  border: 0;
  border-radius: 100%;
  bottom: 15px;
  cursor: pointer;
  height: 30px;
  left: 50%;
  line-height: 30px;
  outline: none;
  position: absolute;
  transform: translateX(-50%);
  vertical-align: middle;
  width: 30px;
}
.button-down:hover {
  background: #A9A9A9;
}
.button-down:active, .button-down:focus {
  background: #303030;
  color: #fbfbfb;
}

.hidden {
  display: none;
}

.hidden-mobile {
  display: none;
}

.small-font {
  font-size: .8em;
}


/*** Projet ***/
.colonnes {
  display: flex;
  flex-direction: column;
}


/** Couleurs **/
.color {
  display: table;
}

.pastille {
  height: 100px;
  display: table-cell;
  min-width: 100px;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

#couleurs ul {
  list-style-type: none;
  padding-left: .5em;
}

#couleurs .description {
  margin-right: 1em;
}

/* Déclinaisons */
#declinaisons {
  height: 100px; /* Même taille que l'autre */
  width: 100%;
}

.declinaisons {
  border-collapse: collapse;
}

.declinaison td {
  font-size: .8em;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.declinaison td:first-child ul {
  padding-left: 0;
  padding-right: .5em;
}

/* Correct vertical align */
.declinaison td:first-child {
  padding: 8px 0;
}

.pastille-small {
  display: table-cell;
  height: 50px;
  min-width: 50px;
  vertical-align: middle;
  width: 50px;
}

/* ~Responsive */
@media screen and (min-width: 620px) {
  .colonnes {
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
  }

  #couleurs ul {
    padding-left: 1em;
  }

  .declinaison td:first-child ul {
    padding-left: 0;
    padding-right: 1em;
  }

  .hidden-mobile {
    display: block;
  }

  .pastille-small {
    height: 70px;
    min-width: 70px;
    padding: .5em;
    width: 70px;
  }
}

@media screen and (min-width: 960px) {
  body {
    padding: 1em;
  }

  footer {
    padding-top: 1em;
  }
  
}

@media screen and (min-width: 1280px) {

}

/**** End of automatisation CSS ***/



/**** Manual CSS ****/

/*** Regles ***/
.fond {
  align-items: center;
  display: flex;
  font-size: 2em;
  font-weight: bold;
  justify-content: space-evenly;
  height: 200px;
  width: 100%;
}

.fond.clair {
  background-color: #0062c4;
}

.fond.fonce {
  background-color: #151132;
}

#regles-couleurs .couleur {
  height: 50px ;
  width: 50px ;
}

.couleur-fonce {
  color: #151132;
}

.couleur1 {
  color: #0062c4;
}
.couleur2 {
  color: #f62080;
}
.couleur3 {
  color: #ffa430;
}

.fond-couleur1 {
  background-color: #0062c4;
}
.fond-couleur2 {
  background-color: #f62080;
}
.fond-couleur3 {
  background-color: #ffa430;
}

.fond-bright {
  background-size: cover;
  background-image: url('/assets/images/landscape-bright.jpg');
}
.fond-dark {
  background-size: cover;
  background-image: url('/assets/images/landscape-dark.jpg');
}

.usages .fond {
  flex-direction: column;
}




