/*! /src/style.css */
/* Fonts import
 * https://google-webfonts-helper.herokuapp.com/fonts/roboto-condensed
 * https://github.com/bramstein/fontfaceobserver
*/
@font-face {
  font-display: swap;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
      url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
      url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../assets/fonts/roboto-condensed/roboto-condensed-v18-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* Basic css */
* {
  box-sizing: border-box;
  transition: all .5s;
}

html {
  
}

body {
  /* https://www.transparenttextures.com/ */
  /* background: url('assets/images/bg.png') repeat; */
  background-color: #fbfbfb;
  color: #303030;
  font-family: Arial, sans-serif;
  font-size: 1em;
  justify-content: center;
  line-height: 1.4em;
  min-height: 100vh;
}

body.fonts-loaded {
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

h1, h2, h3 {
  letter-spacing: 0.1em;
  line-height: 1.2em;
  text-transform: uppercase;
}

a,
a:active,
a:visited {
  color: #ff833b;
  cursor: pointer;
}

a:hover {
  color: #ff9659;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

section {
  align-items: center;
  border-bottom: 1px solid #303030;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 50px;
  position: relative;
}

.button-down {
  background: #DCDCDC;
  border: 0;
  border-radius: 100%;
  bottom: 15px;
  cursor: pointer;
  height: 30px;
  left: 50%;
  line-height: 30px;
  outline: none;
  position: absolute;
  transform: translateX(-50%);
  vertical-align: middle;
  width: 30px;
}
.button-down:hover {
  background: #A9A9A9;
}
.button-down:active, .button-down:focus {
  background: #303030;
  color: #fbfbfb;
}

.dual {
  display: flex;
  flex-direction: column;
}

/* ~Responsive */
@media screen and (min-width: 620px) {
  .dual {
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
  }  
}

@media screen and (min-width: 960px) {
  .container {
    padding: 1em;
  }

  
}

@media screen and (min-width: 1280px) {

}
